{% extends 'base.html' %}
{% load static %}

{% block title %} Sommaire {% endblock %}
{% block content%}

<main class="container-fluid mb-4">
    <section class="row my-4">
        {% if user.is_staff %}
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <section class="card h-100">
                <img src=" {% static 'images/cover-aticle-pim-730x487.jpg' %}" alt="pim" class="card-img-top"/>
                <div class="card-body">
                    <h1 class="h3 card-title">
                        Projet Immo Marseille
                    </h1>
                    <p class="card-text">
                        Aide au calcul relatif aux mesurettes d'accompagnement liées au projet immobilier Marseille
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'index' %}" class="btn btn-primary">Y aller...</a>
                </div>

            </section>

        </div><!--End first element-->
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <section class="card h-100">
                <img src=" {% static 'images/cet.jpg' %}" alt="pim" class="card-img-top"/>
                <div class="card-body">
                    <h1 class="h3 card-title">
                        Utilitaires CET
                    </h1>
                    <p class="card-text">
                        Aide au calcul relatif à l'utilisation de son CET pour partir en AFC. <br>
                        <br>

                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'cet_index' %}" class="btn btn-primary">Y aller...</a>
                </div>

            </section>

        </div><!--End second element-->
        {% endif %}
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <section class="card h-100">
                <img src=" {% static 'images/frais-de-deplacement.png' %}" alt="pim" class="card-img-top"/>
                <div class="card-body">
                    <h1 class="h3 card-title">
                        Frais de déplacement
                    </h1>
                    <p class="card-text">
                        Calculez la valeur résiduelle de votre remboursement au forfait après application des retenues fiscales"
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'frais' %}" class="btn btn-primary">Y aller...</a>
                </div>

            </section>

        </div><!--End third element-->
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <section class="card h-100">
                <img src=" {% static 'images/Indemnites.png' %}" alt="pim" class="card-img-top"/>
                <div class="card-body">
                    <h1 class="h3 card-title">
                        Indemnités de déplacement
                    </h1>
                    <p class="card-text">
                        Calculez le nombre d'indemnités de déplacement à reporter sur AIDA"
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'ind_dep' %}" class="btn btn-primary">Y aller...</a>
                </div>

            </section>

        </div><!--End fourth element-->

            <div class="col-12 col-md-6 col-lg-3 mb-3">
            <section class="card h-100">
                <img src=" {% static 'images/bandit-manchot.png' %}" alt="pim" class="card-img-top"/>
                <div class="card-body">
                    <h1 class="h3 card-title">
                        Rémunération / SNB / Inflation
                    </h1>
                    <p class="card-text">
                        Point sur votre rémunération. Quel impact de l'évolution du SNB et de l'inflation
                        sur votre pouvoir d'achat
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'snb' %}" class="btn btn-primary">Y aller...</a>
                </div>

            </section><!--End section.row 5 row-->


            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
            <section class="card h-100">
                <img src=" {% static 'images/container-moving-artdem.jpg' %}" alt="diname" class="card-img-top"/>
                <div class="card-body">
                    <h1 class="h3 card-title">
                        DiNaMe
                    </h1>
                    <p class="card-text">
                        Accompagnement de la mobilité d'entreprise. Quels sont vos droits.
                        {{ ip }}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'diname' %}" class="btn btn-primary">Y aller...</a>
                </div>

            </section><!--End section.row 5 row-->


            </div>
    </section>
</main><!--end main.container-fluid-->

{% endblock content %}