{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Calcul {% endblock %}
{% block navitems %}

{% endblock navitems %}
{% block content%}
<div class="row">
    <h3 class="h3 bg-secondary text-light text-center" >Calculette départ en CET</h3>
</div>
<div class="row mt-4">
<div class="col-sm-6">
<form action="" method="POST" class="form">
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
            {{ form.depart_administratif|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.depart_physique|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form.reliquat_ca|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.reliquat_anciennete|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form.reliquat_fl|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.bonification_18j|as_crispy_field }}
        </div>
    </div>

    <input type="submit" value="Calculer" class="btn btn-primary mb-2 mt-2" />
</form>
    <a rel='prev' href="javascript:history.go(-1)"><button class="btn btn-secondary ">Retour</button></a>
</div>

   <div class="col-sm-6">
        <table class="table table-striped table-hover table-sm">
            <thead>
            <tr>
                <th scope="col">Item</th>
                <th class="text-center" scope="col">Valeur</th>
            </tr>
            </thead>

            <tbody>
            {% for k,v in calcul.items %}
            <tr>
                <td scope="row">{{ k }}</td>
                <td class="text-end">{{ v }}</td>
<!--                <td> {{ v.unite }}</td>-->
            </tr>
            {% endfor%}
            </tbody>
        </table>


    </div>
</div>
{% endblock content%}