{% extends 'base.html' %}


{% block content %}
<div class="row mt-4 d-flex justify-content-center">
  <div class="col-6">
    <div class="card" style="background:#DDD">
      <div class="card-body login-card-body">
        <h2>Réinitialisation votre mot de passe</h2>
        <p> Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour autant
          qu’un compte existe avec l’adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.
        </p>
        <p>Si vous ne recevez pas de message, vérifiez que vous avez saisi l’adresse avec laquelle vous vous êtes
          enregistré et contrôlez votre dossier de spams
        </p>
      </div>
    </div>
  </div>
</div>


{% endblock %}
