{% extends 'base.html' %}
{% block content %}

<div class="row mt-4 justify-content-center">
    <div class="col-6">
        <div class="card" style="background:#DDD">
            <div class="card-body">
                <h2>Réinitialisation votre mot de passe</h2>
                <p> Mise à jour du mot de passe terminée avec succes</p>
                <p>Votre mot de passe a été défini. Vous pouvez maintenant vous authentifier. </p>
                <a class="btn btn-primary" href="{% url 'login' %}" role="button">Connexion</a>
            </div>
        </div>
    <div>
</div>
{% endblock %}

