{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row mt-4 justify-content-center">
    <div class="col-6">
        <div class="card" style="background:#AAA">
            <div class="card-body login-card-body">
                <form action="" method="POST" class="form" novalidate>
                    {% csrf_token %}
                    <div>
                        {{ form.email|as_crispy_field }}
                    </div>
                    <input type="submit" value="Ré-initialiser le mot de passe" class="btn btn-primary mb-4 my-4">
                    {% for error in errors.values %}
                    <h4 style="color: red"> {{ error }} </h4>
                    {% endfor  %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
