{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<body class="login-page" style="min-height: 512.391px;">
<div class="row mt-4 d-flex justify-content-center">

    <div class="col-6">
        <h3>Définition du nouveau mot de passe</h3>
        <div class="card" style="background:#DDD">
            <div class="card-body login-card-body">
                {% if validlink %}
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block mt-4">Reinitialiser</button>
                </form>
                {% else %}
                    <p style="color:red">le token a expiré</p>
                    <p style="color:red">Recommencez la procédure en cliquant <a href="{% url 'password_reset' %}"><strong>ici</strong></a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}