{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row mt-4 d-flex justify-content-center">
    <div class="col-6">
        <div class="card" style="background:#DDD">
            <div class="card-body">
                <form action="" method="POST" class="form">

                    {% csrf_token %}
                    <div>
                        {{ form.username|as_crispy_field }}
                    </div>
                    <div>
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div>
                        {{ form.password1|as_crispy_field }}
                    </div>
                    <div>
                        {{ form.password2|as_crispy_field }}
                    </div>

                    <input type="submit" value="S'inscrire" class="btn btn-primary mb-4 my-4">
                    {% for error in errors.values %}
                    <h4 style="color: red"> {{ error }} </h4>
                    {% endfor  %}

                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
