<h1 class="h4">Aide sur le calcul des km retenus</h1>
<p>
L'indemnisation de l'allongement en km du trajet entre le site actuel et le site futur, n'est en principe
            resevé aux salariés qui résident hors Marseille car le site futur est en "zone de bonne desserte" <br>
            Toutefois, si d'aventure le trajet en transports en commun s'avérait "manifestement inadapté" et de manière
            dérogatoire, l'allongement de la distance peut être indemnisé. <br>
            Les références pour calculer l'écart en km entree le trajet sitr actuel - domicile et site futur - domicile
            se font avec les outils '<a href="https://fr.mappy.com/itineraire" target="_blank">mappy</a> ou
            <a href="https://www.viamichelin.fr/" target="_blank">viamichelin</a>. <br>
            Pour vérifier si la durée de trajet est "manifestement inadaptée" vous pouvez utiliser le site
            <a href="https://www.lepilote.com/fr/itineraires/4/JourneyPlanner/Index" target="_blank">Le Pilote</a>
</p>
