<h1 class="h4">Aide sur la durée d'allongement du temps de trajet</h1>
<p>
            Le calcul de l'allongement du temps de trajet tient compte d'une franchise minimum de 30 mn par trajet
            en dessous de laquelle aucune indemnisation ne sera accordée. De même la durée totale d'un trajet est
            écrétée à 60 mn. <br>
            En conséquence, le maximum pris en compte par trajet est de 30mn soit 60 mn pour l'aller et le retour. <br>
            Si par exemple votre trajet actuel est de 5mn et que le trajet futur sera de 31 mn, ne sera pris en compte
            uniquement 1 mn d'allongement (à cause de la franchise des 30 mn)
            Ou encore si votre trajet futur est de 75 mn, la durée sera écrétée à 60 mn et le calcul donnera 30mn
            d'allongement (Max= 60 - Min = 30)
</p>
