{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Frais de déplacement {% endblock %}
{% block head%}
<!--<script> let ctx_repas = {{ repas }}; </script>-->
<!--<script defer src="{% static 'js/Frais_storage.js' %}"></script>-->


{% endblock head%}

{% block navitems %}
{% if user.is_staff %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Parametres
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'ursaff' %}">URSAFF...</a></li>
            <li><a class="dropdown-item" href="{% url 'bareme_item' %}">Barèmes...</a></li>
          </ul>
        </li>
{% endif %}
{% endblock navitems %}

{% block content %}

<div class="row">
    <h3 class="h3 bg-secondary text-light text-center" >Calculette Frais de déplacement - {{ message }}</h3>
</div>
<div class="row mt-4 d-flex justify-content-center">
<!--    <div class="col-6">-->
    <div class="col-10">
        <form action="" method="GET" class="form">
            <div class="row">


                <div>
                    {{ form.taux|as_crispy_field }}
                </div>
                <div>
                    {{ form.localisation|as_crispy_field }}
                </div>
                <div>
                    {{ form.college|as_crispy_field }}
                </div>
                <div id="memo" class="mt-2">
                    {{ form.memo|as_crispy_field }}
                </div>
                <input id="calculer" type="submit" value="Calculer" class="btn btn-primary mb-4 my-4" />
            </div>
        </form>
    </div>
</div>
<row class="d-flex justify-content-center">
    <div id="textResult" class="border text-center text-muted col-sm-8 col-lg-8 bg-light ">

    </div>
</row>
<!-- <table id="table" class="table col-6"> -->
<!-- <div class="row mt-4 d-flex justify-content-center"> -->
<div class="row mt-4 justify-content-center">
    <div class="col-md-10 col-lg-8">
    <div class="table-responsive-xl" >
<!--<div class="row mt-4 mx-4">-->
    <table id="table" class="table table-striped text-end table-bordered border-primary">
        <!-- <table id="table" class="table col-6 text-end"> -->
        <thead>
        <tr>
            <th scope="col"></th>
            <!--          <th scope="col" class="text-end">+/-</th>-->
            <!-- <th class="text-start" scope="col">+/-</th> -->
            <th scope="col">Barème</th>
            <!-- <th scope="col">Tot</th> -->
            <th scope="col">Cotis</th>
            <th scope="col">Impôts</th>
            <th scope="col">Reste</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" class="text-start">Repas</th>
            <!-- <td class="text-start"> -->
                <!-- <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-danger btn-sm" id="moinsR">-</button>
                    <button type="button" class="btn btn-primary btn-sm" id="plusR">+</button>
                    <input class="text-end" type="text" size="1" value="1" id="nbR">
                </div> -->
            <!-- </td> -->
            <td id="repas">{{ repas|floatformat:2 }}</td>
            <!-- <td id="repas_s"></td> -->
            <td id="cotisationsRepas" class="text-danger">{{ retenue_ecart_r|floatformat:2 }}</td>
            <td id="impotsRepas" class="text-danger">{{ retenue_cs_non_soumises_r|floatformat:2 }}</td>
            <td id="resteRepas" class="text-success">---</td>
        </tr>
        <tr>
            <th scope="row" class="text-start">N+Pdj</th>
            <!-- <td class="text-start">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-danger btn-sm" id="moinsN">-</button>
                    <button type="button" class="btn btn-primary btn-sm" id="plusN">+</button>
                    <input class="text-end" type="text" size="1" value="1" id="nbN">
                </div>
            </td> -->
            <td id="nuit">{{ nuit|floatformat:2 }}</td>
            <!-- <td id="nuits"></td> -->
            <td id="cotisationsNuit" class="text-danger">{{ retenue_ecart_n|floatformat:2 }}</td>
            <td id="impotsNuit" class="text-danger">{{ retenue_cs_non_soumises_n|floatformat:2 }}</td>
            <td id="resteNuit" class="text-success">---</td>
        </tr>
        <tr>
            <th scope="row" class="text-start">Total</th>
            <!-- <td id="vide"></td> -->

            <td id="total">---</td>
            <!-- <td id="total_s"></td> -->
            <td id="totalCotisations" class="text-danger">---</td>
            <td id="totalImpots" class="text-danger">---</td>
            <td id="totalReste" class="text-success">---</td>
        </tr>
        </tbody>
    </table>
    </div>
    </div>
</div>
<script defer src="{% static 'js/index_frais_2.js' %}"></script>
{% endblock content %}
