<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/calculatrice.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<nav class="navbar sticky-top navbar-expand-sm navbar-light" style="background-color: #FF6600;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo_cfdt_rte.png' %}" alt="logo" width="96" height="96">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-nav-scroll me-auto amb-2 mb-lg-0">
                {% block navitems %}
                {% endblock navitems %}
                {% comment %}
                <li class="nav-item">
                    <a class="nav-link" href="https://rte.cfdt.app" target="_blank">AppRTE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:rte-cfdt-mediterranee@rte-france.com?subject=contact%20depuis%20le%20site">Nous contacter</a>
                </li>
                {% endcomment %}
            </ul>
            <ul class="navbar-nav navbar-nav-scroll amb-2 mb-lg-0 ml-auto">
                {% if user.is_authenticated %}
                <li>
                        <span class="navbar-text">
                            Bienvenue {{ user.username|capfirst }}
                        </span>
                    <a class="nav-link text-end" href="{% url 'logout' %}" >se deconnecter</a>
                </li>
                {% else %}
                <li><a class="nav-link text-end" href="{% url 'signup' %}" >s'inscrire</a></li>
                <li><a class="nav-link text-end" href="{% url 'login' %}" >se connecter</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- <body class="bg-secondary text-light"> -->
<body class="bg-light text-dark">
<div class="container-fluid">

    {% include 'messages.html' %}
    {% block content%}

    {% endblock content%}

</div>
<!--<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>


</body>
</html>
