{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} DiNaMe {% endblock title %}

{% block navitems %}
{% if user.is_staff %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
        Parametres
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'snb_list' %}">SNB...</a></li>
    </ul>
</li>
{% endif %}
{% endblock navitems %}

{% block content %}


<div class="row d-flex">
    <h3 class="h3 bg-secondary text-light text-center" >Calculette DiNAME</h3>
</div>




<div class="row mt-4 d-flex justify-content-center">

    <div class="col-md-4 col-lg-6" id="ici">

        <form action="#scroll" method="post" class="form">
            {% csrf_token %}
            <div class="row d-flex justify-content-between ">
                <div class="col-lg-12 col-md-12">
                    <div class="card-group">
                        <div class="col-lg-12 col-sm-12">
                            <div class="card text-white mt-4 mb-1 mx-1 w-90 bg-secondary">
                                <div  class="card-header h4">Votre situation à l'issue de votre mutation</div>
                                <div class="card-body d-flex">
                                    <div class="col-lg-5 mx-3">
                                        {{ form.Nr|as_crispy_field }}
                                        {{ form.echelon|as_crispy_field }}
                                    </div>
                                    <div class="col-lg-5 mx-3">
                                        {{ form.tps_trav|as_crispy_field }}
                                        {{ form.maj_res|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-group">
                        <div class="col-lg-12 col-sm-12">
                            <div class="card text-light mt-4 mb-1 mx-1 w-90 bg-secondary">
                                <div  class="card-header h4 text-dark" style="background: DeepSkyBlue;">
                                    <button type="button" class="btn btn-outline-dark btn-lg" data-bs-toggle="modal" data-bs-target="#Art30_Modal">
                                        Article 30
                                    </button>
                                    <span style="font-size:50%"> <-- En savoir plus</span>
                                </div>
                                <div class="card-body d-flex">
                                    <div class="col-lg-6">
                                        {{ form.art30|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-group">
                        <div class="col-lg-6 col-sm-12">
                            <div class="card h-100 text-dark mt-4 mb-1 mx-1 w-90 bg-secondary">
                                <div  class="card-header h4" style="background: Gold;">
                                    <button type="button" class="btn btn-outline-dark btn-lg" data-bs-toggle="modal" data-bs-target="#AMG_Modal">
                                        AMG
                                    </button>
                                    <span style="font-size:50%"> <-- En savoir plus</span>
                                </div>
                                <div class="card-body text-light">

                                    {{ form.eligible_AMG|as_crispy_field }}
                                    {{ form.famille|as_crispy_field }}
                                    {{ form.site_origine|as_crispy_field }}
                                    {{ form.site_destination|as_crispy_field }}
                                    <br>
                                    {{ form.agentGDP|as_crispy_field }}
                                    {{ form.GDP_loge|as_crispy_field }}

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="card h-100 text-dark mt-4 mb-1 mx-1 w-90 bg-secondary">
                                <div  class="card-header h4" style="background: Gold;">
                                    <button type="button" class="btn btn-outline-dark btn-lg" data-bs-toggle="modal" data-bs-target="#AMG_Modal">
                                        Logement
                                    </button>
                                    <span style="font-size:50%"> <-- En savoir plus</span>
                                </div>
                               <div class="card-body text-light" id="AMG_text">
                                   
                                </div>
                            </div>
                        </div>
                        <div class="card-group">
                            <div class="col-lg-6 col-sm-12 mt-3">
                                <div class="card h-100 text-dark mt-4 mb-1 mx-1 w-90">
                                    <div  id="js_color" class="card-header h4" style="background: Gold;">
                                        <button type="button" class="btn btn-outline-dark btn-lg" data-bs-toggle="modal" data-bs-target="#MGES_Modal">
                                            MGES
                                        </button>
                                        <span style="font-size:50%"> <-- En savoir plus</span>
                                    </div>

                                    <div class="card-body bg-secondary text-light">
                                        <p  id="MGES_text">Le site destination est considéré comme
                                            <strong id="js_lbl_MGES">{{ lbl_MGES }}</strong>
                                        et ajoute <strong id="js_moisMGES2">{{ moisMGES }}</strong> mois de salaire</p>
                                        <a class="btn btn-primary bg-info"
                                           target="_blank"
                                           href="https://www.google.com/maps/d/u/0/viewer?mid=1cD_8XlN_6kVX3vBgye7olkotL9T5zRss&ll=46.246796592824865%2C0.8231988365693255&z=6"
                                           role="button">Carte des sites</a>
                                    </div>

                                </div>
                                <!--                </div>-->
                            </div>
                            <!--            </div>-->
                            <!--             <div class="card-group mt-4">-->
                            <div class="col-lg-6 col-sm-12 mt-3">
                                <div class="card h-100 text-dark mt-4 mb-1 mx-1 w-90 bg-secondary">
                                    <div id="js_color_MGEE" class="card-header h4" style="background: LimeGreen;">
                                        <button type="button" class="btn btn-outline-dark btn-lg" data-bs-toggle="modal" data-bs-target="#MGEE_Modal">
                                            MEE
                                        </button>
                                        <span style="font-size:50%"> <-- En savoir plus</span>
                                    </div>
                                    <div class="card-body d-flex text-light">
                                        <div class="col-lg-12">
                                            {{ form.emploi|as_crispy_field }}
                                            <br>
                                            {{ form.eligible_MGEE|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Fin card group MGES MGEE -->
                    <div class="card-group mt-3">
                        <div class="col-lg-4 col-md-12">
                            <div class="card h-100 text-dark bg-success mt-3 mx-1 w-90" >
                                <div  class="card-header h4" style="background: Coral;">
                                    <button type="button" class="btn btn-outline-dark btn-lg" data-bs-toggle="modal" data-bs-target="#MR_Modal">
                                        MR
                                    </button>
                                    <span style="font-size:50%"> <-- En savoir plus</span>
                                </div>
                                <div class="card-body text-light bg-secondary">
                                    {{ form.eligible_MR|as_crispy_field }}
                                </div>
<!--                                <div class="card-footer"></div>-->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="card h-100 bg-warning mt-3 mx-1 w-90" >
                                <div  class="card-header h4" style="background: Coral;">
                                    <button type="button" class="btn btn-outline-dark btn-lg" data-bs-toggle="modal" data-bs-target="#MGRa_Modal">
                                        MGRa
                                    </button>
                                    <span style="font-size:50%"> <-- Plus</span>
                                </div>
                                <div class="card-body text-light bg-secondary">
                                    {{ form.eligible_MGRa|as_crispy_field }}
                                    <br>
                                    {{ form.mois_MGRa|as_crispy_field }}
                                </div>
<!--                                <div class="card-footer"></div>-->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="card h-100 text-dark bg-info mt-3 mx-1 w-90" >
                                <div  class="card-header h4" style="background: Coral;">
                                    <button type="button" class="btn btn-outline-dark btn-lg" data-bs-toggle="modal" data-bs-target="#MGRb_Modal">
                                        MGRb
                                    </button>
                                    <span style="font-size:50%"> <-- Plus</span>
                                </div>
                                <div class="card-body text-light bg-secondary">
                                    {{ form.eligible_MGRb|as_crispy_field }}
                                    </br>
                                    {{ form.mois_MGRb|as_crispy_field }}
                                </div>
<!--                                <div class="card-footer"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="d-flex justify-content-end mt-4 invisible" >
                        <input id="fetch-call2" type="submit" value="Calculer" class="btn btn-primary my-3" />
                    </div>
                </div>
            </div>
        </form>


    </div><!--  end of forms-->



    <div class="col-sm-6 " id="scroll">

        <div class="card-group">
            <div class="col-lg-12 col-sm-12">
                <div class="card mt-4 mb-1 mx-1 w-90" style="background: DeepSkyBlue;">
                    <div  class="card-header h4">Article 30</div>
                    <div class="card-body d-flex justify-content-between" style="background: LightSkyBlue">
                        <div class="h5">
                            2 mois de salaire
                        </div>
                        <div id="js_art30" class="h5">
                            {{ ind_art30 }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-secondary my-3">
            <div class="card-header h4 text-light">DiNAME</div>

            <div class="card-group">
                <div class="col-lg-12 col-sm-12">
                    <div class="card mt-4 mb-1 mx-1 w-90" style="background: Gold;">
                        <div  class="card-header h5">Mobilité Géographique</div>
                        <div class="card-body d-flex justify-content-between" style="background: LemonChiffon">
                            <div class="h5 col-lg-6">
                                AMG + MGES
                            </div>
                            <div id="js_diname_geo" class="h5 col-lg-6 text-end">
                                {{ total_diname_mobilite_geo }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="col-lg-12 col-sm-12">
                    <div class="card mt-4 mb-1 mx-1 w-90" style="background: LimeGreen;">
                        <div  class="card-header h5">Mobilité Fonctionnelle</div>
                        <div class="card-body d-flex justify-content-between" style="background: PaleGreen">
                            <div class="h5 col-lg-6">
                                MEE
                            </div>
                            <div id="js_diname_fonc" class="h5 col-lg-6 text-end">
                                {{ total_diname_mobilite_fonc }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="col-lg-12 col-sm-12">
                    <div class="card mt-4 mb-1 mx-1 w-90" style="background: Coral;">
                        <div  class="card-header h5">Réorganisation</div>
                        <div class="card-body d-flex justify-content-between" style="background: PeachPuff">
                            <div class="h5 col-lg-6">
                                MR + MRGa + MGRb
                            </div>
                            <div id="js_diname_reorg" class="h5 col-lg-6 text-end">
                                {{ prime_reorg }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card bg-secondary my-3">
            <div class="card-header h4 text-light">Résultats :</div>
            <div class="card-group">
                <div class="col-lg-12 col-sm-12">
                    <div class="card mt-4 mb-1 mx-1 w-90" style="background: Violet;">
                        <div  class="card-header h5">Total général</div>
                        <div class="card-body d-flex justify-content-between" style="background: Plum">
                            <div class="h5 col-lg-6">
                                DiNAME + Art 30
                            </div>
                            <div id="js_total" class="h5 col-lg-6 text-end">
                                {{ total_general }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!--end bilan card -->
        <div class="accordion mt-3 mb-3" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Détail des résultats
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table table-hover table-sm">
                            <thead>
                            <tr>
                                <th scope="col">Item</th>
                                <th class="text-center" scope="col">Nb Mois</th>
                                <th scope="col" class="text-end">Base</th>
                                <th scope="col" class="text-end">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="background: LightSkyBlue">
                                <td scope="row">Article 30</td>
                                <td class="text-center" id="js_mois_art30">{{ mois_art30 }}</td>
                                <td class="text-end" id="js_salaire_mensuel">{{ salaire_mensuel }}</td>
                                <td class="text-end" id="js_ind_art30">{{ ind_art30 }}</td>
                            </tr>
                            <thead>
                            <tr>
                                <th scope="col">DiNAME</th>
                                <th class="text-center" scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tr style="background: LemonChiffon">
                                <td scope="row">AMG hors écart loyer</td>
                                <td class="text-center">5</td>
                                <td class="text-end" id="js_base_diname_AMG">{{ base_diname }}</td>
                                <td class="text-end" id="js_prime_AMG">{{ prime_amg }}</td>
                            </tr>
                            <tr style="background: LemonChiffon">
                                <td scope="row">MGES</td>
                                <td class="text-center" id="js_moisMGES">{{ moisMGES }}</td>
                                <td class="text-end" id="js_base_diname_MGES">{{ base_diname }}</td>
                                <td class="text-end" id="js_prime_MGES">{{ prime_MGES }}</td>
                            </tr>
                            <tr style="background: PaleGreen">
                                <td scope="row">MEE</td>
                                <td class="text-center" id="js_moisMGEE">{{ mois_MGEE }}</td>
                                <td class="text-end" id="js_base_diname_MGEE">{{ base_diname }}</td>
                                <td class="text-end" id="js_prime_MGEE">{{ prime_MGEE }}</td>
                            </tr>
                            <tr style="background: PeachPuff">
                                <td scope="row">MR</td>
                                <td class="text-center" id="js_mois_MR">{{ mois_MR }}</td>
                                <td class="text-end" id="js_base_MR">{{ base_diname }}</td>
                                <td class="text-end" id="js_prime_MR">{{ prime_MR }}</td>
                            </tr>
                            <tr style="background: PeachPuff">
                                <td scope="row">MGRa</td>
                                <td class="text-center" id="js_mois_MGRa">{{ mois_MGRa }}</td>
                                <td class="text-end" id="js_base_MGRa">{{ base_diname }}</td>
                                <td class="text-end" id="js_prime_MGRa">{{ prime_MGRa }}</td>
                            </tr>
                            <tr style="background: PeachPuff">
                                <td scope="row">MGRb</td>
                                <td class="text-center" id="js_mois_MGRb">{{ mois_MGRb }}</td>
                                <td class="text-end" id="js_base_MGRb">{{ base_diname }}</td>
                                <td class="text-end" id="js_prime_MGRb">{{ prime_MGRb }}</td>
                            </tr>
                            <thead>
                            <tr>
                                <th scope="col">Logement</th>
                                <th class="text-center" scope="col">Surface</th>
                                <th scope="col" class="text-end"></th>
                                <th scope="col" class="text-end">Loyer</th>
                            </tr>
                            </thead>
                            <tr style="background: LemonChiffon">
                                <td scope="row" id="js_loyer_deux_ans"></td>
                                <td class="text-center" id="js_origine_gdp_surface">{{ surface }}</td>
                                <td class="text-end" id="js_text_gdp"></td>
                                <td class="text-end" id="js_total_loyer_origine_gdp">{{ loyer_origine_gdp }}</td>
                            </tr>
                            <tr style="background: LemonChiffon">
                                <td scope="row">Loyer origine</td>
                                <td class="text-center" id="js_origine_surface">{{ surface }}</td>
                                <td class="text-end" id=""></td>
                                <td class="text-end" id="js_total_loyer_origine">{{ total_loyer_origine }}</td>
                            </tr>
                            <tr style="background: LemonChiffon">
                                <td scope="row">Loyer destination</td>
                                <td class="text-center" id="js_destination_surface">{{ surface }}</td>
                                <td class="text-end" id=""></td>
                                <td class="text-end" id="js_total_loyer_destination">{{ total_loyer_destination }}</td>
                            </tr>
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th class="text-center" scope="col"></th>
                                <th scope="col" class="text-end">Ecart/m2</th>
                                <th scope="col" class="text-end">Total/5ans</th>
                            </tr>
                            </thead>
                            <tr style="background: LemonChiffon">
                                <td scope="row">Ecart Loyer</td>
                                <td class="text-center" id="js_surface2">{{ surface }}</td>
                                <td class="text-end" id="js_ecart_loyer">{{ ecart_loyer }}</td>
                                <td class="text-end" id="js_indemnisation_loyer">{{ indemnisation_loyer }}</td>
                            </tr>
                            <thead>
                            <tr>
                                <th scope="col">Totaux</th>
                                <th class="text-center" scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="col">Total Statutaire</td>
                                <td class="" scope="col">Art 30</td>
                                <td scope="col"></td>
                                <td scope="col" class="text-end" id="js_tot_art30">{{ ind_art30 }}</td>
                            </tr>
                            <tr>
                                <td scope="col"></td>
                                <td class="" scope="col"></td>
                                <td scope="col"></td>
                                <td scope="col"></td>
                            </tr>
                            <tr>
                                <td scope="col">Total DiNAME avant écrêtage</td>
                                <td class="" scope="col"></td>
                                <td scope="col"></td>
                                <td scope="col" class="text-end" id="js_total_diname_avant_ecretage">{{ total_diname_avant_ecretage }}</td>
                            </tr>
                            <tr>
                                <td scope="col">Total DiNAME</td>
                                <td class="" scope="col">(Avec AMG+MGES écrêtés à 100 k€)</td>
                                <td scope="col"></td>
                                <td scope="col" class="text-end" id="js_total_diname">{{ total_diname }}</td>
                            </tr>
                            <tr>
                                <td scope="col">Total général</td>
                                <td class="" scope="col">Art30 + DiNAME</td>
                                <td scope="col"></td>
                                <td scope="col" class="text-end"><strong id="js_total_general">{{ total_general }}</strong></td>
                            </tr>
                            <tr>
                                <td id="id_din1" scope="col">Total DiNAME / an </td>
                                <td id="id_din2" class="" scope="col">pendant 5 ans</td>
                                <td id="id_din3" scope="col">max 20 k€</td>
                                <td scope="col" class="text-end" id="js_total_diname_an">{{ total_diname_an }}</td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="MGEE_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabelMGEE">MEE Mobilité Encouragée vers certains Emplois</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Si vous gréez un emploi qui fait partie de la liste déroulante, cochez la case "Eligible MEE".
                Vous ouvrez alors droit à une prime de 2 mois de salaire si déménagement, 1 mois sans déménagement.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MGES_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabelMGES">MGES Mobilité Encouragée vers certains Sites</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Les sites de travail de Rte sont classés en 4 catégories du plus au moins attractif.
                La prime d'installation est de 0 mois de salaire pour les sites les plus attractifs, 5 mois pour les sites
                moyennement attractifs, jusqu'à 8 mois pour les sites les moins attractifs, et de 7 mois pour les sites
                de la région Parisienne. Les sièges régionaux sont jugés "attractifs" et n'ouvrent pas droit à la prime
                MGES, sauf Lille et Nancy
                <BR>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AMG_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 modal-dialog-scrollable" id="ModalLabelAMG">AMG Accompagnement de la Mobilité Géographique</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">L'indemnisation de la mobilité géographique est composé de 2 parties :
                <ul>
                    <li>Une prime de 5 mois de salaire (Plancher NR 130 ech 4, Plafond NR 280 ech 7)</li>
                    <li>Une compensation de l'écart de loyer.</li>
                </ul>
                <p>Si vous êtes agent de Groupement De Poste bénéficiant  de la politique logement de Rte (Pers 530), des dispositions
                    particulières s'appliquent. Ainsi, le loyer du site d'origine est fixé forfaitairement à 15% du salaire
                    en lieu et place du loyer "marché" pour les  2 premières années.</p>
                <p>Si vous êtes en colocation, le logement en colocation est accepté à condition que vous soyez en mesure de présenter un bail à votre nom en tant que co-locataire, avec mention de votre quote-part de loyer.</p>
                À chaque site correspond un loyer de base au m2. Une indemnisation de l'écart
                de loyer est calculée sur 5 ans dans le cas où le loyer du site de destination est supérieur à
                celui du site d'origine.<BR>
                La surface retenue pour l'indemnisation est fonction de votre composition familiale.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="MR_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabelMR">MR en cas de Réorganisation </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Dans le cas d'une réorganisation, des mesures spécifiques s'ajoutent aux précédentes.
                <ul>
                    <li>Si votre activité disparait et que vous ne déménagez pas pour votre futur emploi,
                        vous bénéficiez d'une indemnité d'un mois de salaire. Dans ce cas cochez la case "MR"</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MGRa_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabelMGRa">MGRa en cas de Réorganisation </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Dans le cas d'une réorganisation, des mesures spécifiques s'ajoutent aux précédentes.
                <ul>
                    <li>Si votre activité disparait et que vous déménagez pour votre futur emploi,
                        vous bénéficiez d'une indemnité comprise entre 1 et 3 mois de salaire. Dans ce cas cochez la case
                        "MGRa"</li>
                    <li>Dans le cadre du projet Impulsion et Vision cette indemnité a été fixée à 1 mois.</li>
                    <li>En complément vous bénéficiez, des mesures AMG, MGES, de celles de compensation de l'écart
                        de loyer et de l'article 30</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MGRb_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabelMGRb">MGRb en cas de Réorganisation </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Dans le cas d'une réorganisation, des mesures spécifiques s'ajoutent aux précédentes.
                <ul>
                    <li>Si vous gréez un emploi cible dans la nouvelle organisation, vous pouvez bénéficier
                        d'une indemnité complémentaire comprise entre 2 et 5 mois de salaire.</li>
                    <li>Si vous gréez un emploi cible secondaire, des dispositions sont aussi possible.</li>
                    <li>Dans le projet Impulsion et Vision, ces valeurs sont respectivement portées à 5 et 2 mois
                        de salaire, selon que l'emploi soit cible principale ou secondaire</li>
                    <li>Dans ce cas les  cases MGRa et MGRb doivent être cochées.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Art30_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalArt30">Article 30 </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> Si une mutation conduit à porter la durée de votre trajet ancien domicile-nouveau lieu de travail à plus d’une heure en transport en commun et en voiture (sans péage) et que vous déménagez, vous percevez une indemnité de 2 mois de salaire (à temps plein). Pour percevoir l’accompagnement financier à la mobilité géographique, vous devez vous reloger dans un périmètre situé à moins d’une heure du nouveau lieu de travail (l’un des deux modes de transport cités ci-dessus doit permettre un trajet ≤ 1h).<br>
                Pour la région parisienne, ce seuil est de 1h15 dans la mesure où vous réduisez votre temps de trajet. Ce critère de localisation est vérifié à chaque échéance de versement.</p>
                <p>Le salaire pris en référence est celui après la mutation.</p> Il n'y a ni plancher, ni plafond appliqué
                à cette indemnité.
                Elle est versée au moment de la nomination en une fois.
                Dans le cas de l'application de DiNAME, le versement de cette indemnité sera augmenté de la partie
                DiNAME correspondant au 1er versement.

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<script>

    document.querySelector('#fetch-call2').addEventListener('click', event => {
          event.preventDefault();
          recalcul();});


    function Aff_GDP_loge(){
        document.querySelector('#MGES_text').innerHTML=""
        document.querySelector('#AMG_text').innerHTML=""
        document.querySelector('#MGES_text').innerHTML="Lorsque vous êtes éligible à un logement d’entreprise dans le nouvel emploi par le biais de la politique logement, vous pouvez : <ul><li>soit opter pour cette politique logement et renoncer à l’accompagnement de la mobilité géographique tel que fixé par DINAME : pas de compensation de loyer, pas de prime AMG et pas de prime MGES.</li><li>soit renoncer au logement d’entreprise, vous loger par vous-même et bénéficier de l’ensemble de l’accompagnement de la mobilité géographique tel que fixé par DINAME </li></ul>"
        document.querySelector('#AMG_text').innerHTML="Lorsque vous êtes éligible à un logement d’entreprise dans le nouvel emploi par le biais de la politique logement, vous pouvez : <ul><li>soit opter pour cette politique logement et renoncer à l’accompagnement de la mobilité géographique tel que fixé par DINAME : pas de compensation de loyer, pas de prime AMG et pas de prime MGES.</li><li>soit renoncer au logement d’entreprise, vous loger par vous-même et bénéficier de l’ensemble de l’accompagnement de la mobilité géographique tel que fixé par DINAME </li></ul>"

    } 

    function Aff_GDP_Non_loge(){
        document.querySelector('#AMG_text').innerHTML=""
        document.querySelector('#MGES_text').innerHTML="Le site de destination est considéré comme <strong id='js_lbl_MGES'></strong> et ajoute <strong id='js_moisMGES2'></strong> mois de salaire";
        const textAMG_surface = document.createElement('p');
        textAMG_surface.innerHTML = "La surface correspondant à votre composition familiale est fixée à : <strong id='js_surface'>{{ surface }}</strong> m2";
        document.querySelector('#AMG_text').append(textAMG_surface);
        if (document.querySelector('#id_agentGDP').checked == true){
            const text_AMG_loyer_GDP = document.createElement('p');
            text_AMG_loyer_GDP.innerHTML =  "Pendant les 2 premières années, le loyer d'origine pris en compte est réduit à 15% du salaire"
            const textAMG_loyer = document.createElement('p');
            textAMG_loyer.innerHTML = "Les 3 années suivantes,l\'écart de loyer entre l'ancienne et la nouvelle localisation est de :<strong id='js_ecart_loyer2'>{{ ecart_loyer }}</strong> € par m2 par mois.<br>Au total sur 5 ans l\'indemnisation est de <strong id='js_indemnisation_loyer2'>{{ indemnisation_loyer }}</strong> €";
            document.querySelector('#AMG_text').append(text_AMG_loyer_GDP);
            document.querySelector('#AMG_text').append(textAMG_loyer);
        }
        else{
            const textAMG_loyer = document.createElement('p');
            textAMG_loyer.innerHTML = "L\'écart de loyer entre l'ancienne et la nouvelle localisation est de :<strong id='js_ecart_loyer2'>{{ ecart_loyer }}</strong> € par m2 par mois, ce qui correspond à une indemnisation de <strong id='js_indemnisation_loyer2'>{{ indemnisation_loyer }}</strong> € sur 5 ans";
            document.querySelector('#AMG_text').append(textAMG_loyer);
        }
        const textAMG2 = document.createElement('p');
        textAMG2.innerHTML = "En complément, l\'AMG vous permet d'obtenir une prime de 5 mois de salaire soit <strong id='js_prime_amg2'></strong> €";
        
    
        document.querySelector('#AMG_text').append(textAMG2);
    }

    function Aff_GDP(){
        document.querySelector('#AMG_text').innerHTML=""
        document.querySelector('#MGES_text').innerHTML="Le site de destination est considéré comme <strong id='js_lbl_MGES'></strong> et ajoute <strong id='js_moisMGES2'></strong> mois de salaire";
        const textAMG_surface = document.createElement('p');
        textAMG_surface.innerHTML = "La surface correspondant à votre composition familiale est fixée à : <strong id='js_surface'>{{ surface }}</strong> m2";
        const text_AMG_loyer_GDP = document.createElement('p');
        text_AMG_loyer_GDP.innerHTML =  "Pendant les 2 premières années, le loyer d'origine pris en compte est réduit à 15% du salaire"
        const textAMG_loyer = document.createElement('p');
        textAMG_loyer.innerHTML = "Les 3 années suivantes,l\'écart de loyer entre l'ancienne et la nouvelle localisation est de :<strong id='js_ecart_loyer2'>{{ ecart_loyer }}</strong> € par m2 par mois, ce qui correspond à une indemnisation de <strong id='js_indemnisation_loyer2'>{{ indemnisation_loyer }}</strong> € sur 5 ans";
        const textAMG2 = document.createElement('p');
        textAMG2.innerHTML = "En complément, l\'AMG vous permet d'obtenir une prime de 5 mois de salaire soit <strong id='js_prime_amg2'></strong> €";
    
    
        document.querySelector('#AMG_text').append(textAMG_loyer);
        document.querySelector('#AMG_text').append(textAMG2); 
    }

    function recalcul(){

      let form = new FormData();
      let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
      console.log(csrfTokenValue);

      const Nr = document.querySelector('#id_Nr').value
      const maj_res = document.querySelector('#id_maj_res').value
      const tps_trav = document.querySelector('#id_tps_trav').value
      const echelon = document.querySelector('#id_echelon').value
      const art30 = document.getElementById('id_art30').checked

      const eligible_AMG = document.getElementById('id_eligible_AMG').checked
      const eligible_MGEE = document.getElementById('id_eligible_MGEE').checked
      const famille = document.querySelector('#id_famille').value
      const listeOrigine = document.getElementById('id_site_origine')
      const site_origine = listeOrigine.options[listeOrigine.selectedIndex].text
      const listeDest = document.getElementById('id_site_destination')
      const site_destination = listeDest.options[listeDest.selectedIndex].text

      const agentGDP = document.getElementById('id_agentGDP').checked
      const GDP_loge = document.getElementById('id_GDP_loge').checked
      
      const loyerPasgdp = document.getElementById('pas_gdp')

      let eligible_MR = document.querySelector('#id_eligible_MR').checked
      let eligible_MGRa = document.querySelector('#id_eligible_MGRa').checked
      let eligible_MGRb = document.querySelector('#id_eligible_MGRb').checked

      const mois_MGRa = document.querySelector("#id_mois_MGRa").value
      const mois_MGRb = document.querySelector("#id_mois_MGRb").value


      form.append("Nr", Nr);
      form.append("maj_res", maj_res);
      form.append("echelon", echelon);
      form.append("tps_trav", tps_trav);
      form.append("art30", art30);
      form.append("eligible_AMG", eligible_AMG);
      form.append("eligible_MGEE", eligible_MGEE);
      form.append("famille", famille);
      form.append("site_origine", site_origine);
      form.append("site_destination", site_destination);
      form.append("agentGDP", agentGDP);
      form.append("GDP_loge", GDP_loge);
      form.append("eligible_MR", eligible_MR);
      form.append("eligible_MGRa", eligible_MGRa);
      form.append("eligible_MGRb", eligible_MGRb);
      form.append("mois_MGRa", mois_MGRa);
      form.append("mois_MGRb", mois_MGRb);


      console.log(form.get("site_destination"));
      console.log("agent GdP", form.get("agentGDP"));
      console.log("GDP_Loge", form.get("GDP_loge"));
      console.log("MR", form.get("eligible_MR"));
      console.log("MGRa", form.get("eligible_MGRa"));
      console.log("MGRb", form.get("eligible_MGRb"));
      console.log("Mois MGRa", form.get("mois_MGRa"));
      console.log("Mois MGRb", form.get("mois_MGRb"));

      let request = new Request("{% url 'recalcul' %}", {method: "POST",
                                                    body: form,
                                                    headers: {"X-CSRFToken": csrfTokenValue}});

      fetch(request)
        .then(response => response.json())
        .then(context => {
            document.querySelector('#js_salaire_mensuel').innerHTML = context["salaire_art30"];
            document.querySelector('#js_mois_art30').innerHTML = context["mois_art30"];
            document.querySelector('#js_ind_art30').innerHTML = context["ind_art30"];
            document.querySelector('#js_art30').innerHTML = context["ind_art30"];
            document.querySelector('#js_base_diname_AMG').innerHTML = context["base_diname"];
            document.querySelector('#js_base_diname_MGES').innerHTML = context["base_diname"];
            document.querySelector('#js_base_diname_MGEE').innerHTML = context["base_diname"];
            document.querySelector('#js_prime_AMG').innerHTML = context["prime_amg"];
            document.querySelector('#js_prime_MGES').innerHTML = context["prime_MGES"];
            document.querySelector('#js_prime_MGEE').innerHTML = context["prime_MGEE"];
            document.querySelector('#js_moisMGES').innerHTML = context["moisMGES"];
            document.querySelector('#js_moisMGEE').innerHTML = context["mois_MGEE"];
            document.querySelector('#js_ecart_loyer').innerHTML = context["ecart_loyer"];
        

            document.querySelector('#js_indemnisation_loyer').innerHTML = context["indemnisation_loyer"];
        
            document.querySelector('#js_total_loyer_origine').innerHTML = context["total_loyer_origine"];
            document.querySelector('#js_total_loyer_destination').innerHTML = context["total_loyer_destination"];

            document.querySelector('#js_tot_art30').innerHTML = context["ind_art30"];
            document.querySelector('#js_total_diname_avant_ecretage').innerHTML = context["total_diname_avant_ecretage"];
            document.querySelector('#js_total_diname').innerHTML = context["total_diname"];
            document.querySelector('#js_diname_geo').innerHTML = context["total_diname_mobilite_geo"];
            document.querySelector('#js_diname_fonc').innerHTML = context["total_diname_mobilite_fonc"]
            document.querySelector('#js_diname_reorg').innerHTML = context["prime_reorg"]
            document.querySelector('#js_mois_MR').innerHTML = context["mois_MR"]
            document.querySelector('#js_base_MR').innerHTML = context["base_diname"]
            document.querySelector('#js_prime_MR').innerHTML = context["prime_MR"]

            document.querySelector('#js_mois_MGRa').innerHTML = context["mois_MGRa"]
            document.querySelector('#js_base_MGRa').innerHTML = context["base_diname"]
            document.querySelector('#js_prime_MGRa').innerHTML = context["prime_MGRa"]

            document.querySelector('#js_mois_MGRb').innerHTML = context["mois_MGRb"]
            document.querySelector('#js_base_MGRb').innerHTML = context["base_diname"]
            document.querySelector('#js_prime_MGRb').innerHTML = context["prime_MGRb"]

            document.querySelector('#js_total_general').innerHTML = context["total_general"];
            document.querySelector('#js_total').innerHTML = context["total_general"];

            if(agentGDP){
                document.querySelector('#js_loyer_deux_ans').innerHTML = "Loyer origine GDP (2 ans)";
                document.querySelector('#js_origine_gdp_surface').innerHTML = context["surface"];
                document.querySelector('#js_total_loyer_origine_gdp').innerHTML = context["loyer_origine_gdp"];
                }
            else{
                document.querySelector('#js_loyer_deux_ans').innerHTML = "-------";
                document.querySelector('#js_origine_gdp_surface').innerHTML = "-------";
                document.querySelector('#js_total_loyer_origine_gdp').innerHTML = "-------";
                }


            if(art30){
                document.querySelector('#id_din1').innerHTML = "Total DiNAME / an";
                document.querySelector('#id_din2').innerHTML = "pendant 5 ans";
                document.querySelector('#id_din3').innerHTML = "";
                document.querySelector('#js_total_diname_an').innerHTML = context["total_diname_an"];
                       }
             else {
                document.querySelector('#id_din1').innerHTML = "Total DiNAME";
                document.querySelector('#id_din2').innerHTML = "1 versement";
                document.querySelector('#id_din3').innerHTML = "à la date de nomination";
                document.querySelector('#js_total_diname_an').innerHTML = context["total_general"];
                        }

            if(GDP_loge){
                Aff_GDP_loge();
                document.querySelector('#js_prime_amg2').innerHTML = context["prime_amg"];
            }
            else {
                Aff_GDP_Non_loge();
                document.querySelector('#js_lbl_MGES').innerHTML = context["lbl_MGES"];
                document.querySelector('#js_moisMGES2').innerHTML = context["moisMGES"];

                document.querySelector('#js_surface').innerHTML = context["surface"];
                document.querySelector('#js_ecart_loyer2').innerHTML = context["ecart_loyer"];
                document.querySelector('#js_indemnisation_loyer2').innerHTML = context["indemnisation_loyer"];
                document.querySelector('#js_prime_amg2').innerHTML = context["prime_amg"];

            }
       
            document.querySelector('#js_surface2').innerHTML = context["surface"];
            document.querySelector('#js_origine_surface').innerHTML = context["surface"];
            document.querySelector('#js_destination_surface').innerHTML = context["surface"];
        }
        )
        }

    document.addEventListener('DOMContentLoaded', event => {
        recalcul()})

    document.querySelector('#id_Nr').addEventListener('change', event => {recalcul()});
    document.querySelector('#id_echelon').addEventListener('change', event => {recalcul()});
    document.querySelector('#id_maj_res').addEventListener('change', event => {recalcul()});
    document.querySelector('#id_tps_trav').addEventListener('change', event => {recalcul()});

    document.querySelector('#id_eligible_AMG').addEventListener('change', event => {recalcul()});
    document.querySelector('#id_famille').addEventListener('change', event => {recalcul()});
    document.querySelector('#id_site_origine').addEventListener('change', event => {recalcul()});
    document.querySelector('#id_site_destination').addEventListener('change', event => {recalcul()});
 

    document.querySelector('#id_eligible_MGEE').addEventListener('change', event => {recalcul()});

    document.querySelector("#id_mois_MGRa").addEventListener('change', event => {recalcul()});
    document.querySelector("#id_mois_MGRb").addEventListener('change', event => {recalcul()});


    document.querySelector('#id_art30').addEventListener('change', event => {
        if(document.querySelector('#id_art30').checked == true){
            document.querySelector('#id_eligible_AMG').checked = true
            }
        else {
            document.querySelector('#id_eligible_AMG').checked = false
        }
        recalcul()});

    document.querySelector('#id_eligible_AMG').addEventListener('change', event => {
        if(document.querySelector('#id_eligible_AMG').checked == true){
            document.querySelector('#id_art30').checked = true
            }
        else {
            document.querySelector('#id_art30').checked = false
        }
        recalcul()});

    document.querySelector('#id_eligible_MR').addEventListener('change', event => {
    if(document.querySelector('#id_eligible_MR').checked == true){
            document.querySelector('#id_eligible_MGRa').checked = false;
            document.querySelector('#id_eligible_MGRb').checked = false;
            document.querySelector('#id_art30').checked = false;
            document.querySelector('#id_eligible_AMG').checked = false;

        }
    recalcul();
    })

    document.querySelector('#id_eligible_MGRa').addEventListener('change', event => {
    if(document.querySelector('#id_eligible_MGRa').checked == true){
        document.querySelector('#id_art30').checked = true;
        document.querySelector('#id_eligible_AMG').checked = true;

        if(document.querySelector('#id_eligible_MR').checked == true){
            document.querySelector('#id_eligible_MR').checked = false};
        }
    if(document.querySelector('#id_eligible_MGRa').checked == false){
        if(document.querySelector('#id_eligible_MGRb').checked == true){
            document.querySelector('#id_eligible_MGRb').checked = false};
        }

    recalcul();
    })

    document.querySelector('#id_eligible_MGRb').addEventListener('change', event => {
    if(document.querySelector('#id_eligible_MGRb').checked == true){
        if(document.querySelector('#id_eligible_MR').checked == true){
            document.querySelector('#id_eligible_MR').checked = false};

        if(document.querySelector('#id_eligible_MGRa').checked == false){
            document.querySelector('#id_eligible_MGRa').checked = true};
        }
    recalcul();
    })

    document.querySelector('#id_GDP_loge').addEventListener('change', event => {
            document.querySelector('#id_agentGDP').checked = false;
        recalcul();                    
    })

    document.querySelector('#id_agentGDP').addEventListener('change', event => {
        if(document.querySelector('#id_agentGDP').checked == true){
            document.querySelector('#id_GDP_loge').checked = false;
        }
        recalcul()});

</script>

{% endblock content %}

